.quando-container {
  padding: 24px;
  background-color: #222;
  color: #eee;
  overflow: hidden;
  border-radius: 6px;
  -webkit-box-shadow: 0 6px 21px rgba(0,0,0,0.7);
  box-shadow: 0 6px 21px rgba(0,0,0,0.7);
  -moz-transition: all .50s ease-in-out;
  -o-transition: all .50s ease-in-out;
  -webkit-transition: all .50s ease-in-out;
  transition: all .50s ease-in-out;
  margin-bottom: 20px;
}
.quando-container > p {
  font-size: 12px;
  text-transform: uppercase;
}
.quando-container:not(.visible) > .header {
  display: none;
}

i.checked {
  color: yellowgreen;
}

.page-main {
  position: relative;
  width: 500px;
  margin: 50px 0 20px 50px;
  z-index: 10;
}
.page-main > kbd {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 10px;
  background-color: darkorange;
  color: #222;
  border-radius: 3px 0 3px 0;
  box-shadow: none;
  font-weight: bold;
  padding: 2px 8px;
}

.header {
  margin-bottom: 20px;
  font-size: 10px;
}
.header > i {
  float: right;
  display: inline-block;
  margin: -10px -4px 0 18px;
}
.header > i:hover {
  color: yellowgreen;
}

.header-title {
  font-size: 12px;
  text-transform: uppercase;
}

.work-hour {
  background-color: #aaa;
  border-color: #333;
}
.lunch {
  display: block;
  padding-right: 30px;
  margin: 10px 50px;
}
.form-control {
  width: 70px;
  display: inline-block;
}
.form-inline .form-control {
  width: 70px;
}
tempi-item {
  display: block;
}

tempi-item > input.alarmed {
  background-color: red;
  color: #eee;
}

.result {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: yellowgreen;
  font-weight: bold;
  padding: 0;
  font-size: 26px;
  background-color: inherit;
}
.result.alarmed {
  color: red;
  font-size: 28px;
}

.permessi {
  color: crimson;
}

.inaz-command.disabled {
  color: #444;
}
.inaz-commands > i {
  margin-top: -.2em;
  margin-left: .5em;
}

.inaz-commands > .inaz-command:not(.disabled):hover,
.options-commands > i:not(.disabled):hover {
  color: yellowgreen;
  cursor: pointer;
}



.details {
  position: absolute;
  top: 100px;
  left: 480px;
  background-color: #444;
  color: #aaa;
  padding: 12px 18px;
  z-index: 2;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  -moz-transition: all .50s ease-in-out;
  -o-transition: all .50s ease-in-out;
  -webkit-transition: all .50s ease-in-out;
  transition: all .50s ease-in-out;
}
.details:not(.disabled):hover {
  color: yellowgreen;
  cursor: pointer;
  background-color: #555;
}

.details.active {
  color: yellowgreen;
}

.details.enabled {
  left: 540px;
}


.details-help {
  top: 90px;
  left: 540px;
}

.details-amonalie{
  top: 148px;
  left: 540px;
}

.details-history {
  top: 206px;
}

.details-works {
  top: 264px;
}

.popup-page {
  width: 500px;
  position: relative;
  margin-left: 50px;
  padding: 0 24px;
  height: 0;
  z-index: 10;
  overflow: hidden;
}
.popup-page.visible {
  padding: 24px;
  height: auto;
}

.page-inaz {
  top: 0;
}
.page-rapportini {
  top: -20px;
}
.page-amonalie {
  top: -40px;
}

.page-amonalie.visible {
  width: calc(100% - 100px);
}


.alarm {
  margin-left: 20px;
}

.e-alarm,
.u-alarm {
  font-size: 12px;
  position: absolute;
  color: #333;
  margin-left: -14px;
  margin-top: 2px;
}

.page-main > .fa-stack {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.page-help {
  position: absolute;
  margin-left: 650px;
  width: 550px;
  top: -1000px;
  -moz-transition: all .50s ease-in-out;
  -o-transition: all .50s ease-in-out;
  -webkit-transition: all .50s ease-in-out;
  transition: all .50s ease-in-out;
}

.page-help > h1 {
  font-size: 30px;
}
.page-help > p {
  margin-top: 50px;
}
.page-help > p > a {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
}
.page-help > p > a:hover{
  color: #000;
}
.q-section > h1 {
  font-size: 20px;
}
.q-section > h1 > i {
  font-size: 32px;
}
.q-section > p {
  font-size: 12px;
}


progress-clock {
  position: absolute;
  right: 50px;
}

.options {
  width: calc(100% + 48px);
  background-color: #333;
  height: 100px;
  color: #999;
  margin: 0 -24px 15px;
  -moz-transition: all .50s ease-in-out;
  -o-transition: all .50s ease-in-out;
  -webkit-transition: all .50s ease-in-out;
  transition: all .50s ease-in-out;
  overflow: hidden;
}
.options-commands {
  text-align: right;
  position: relative;
  font-size: 1.5em;
}
.option-values{
  padding: 10px 30px;
}

.option-values > p.checked {
  color: yellowgreen;
}


.analisys {
  height: 0;
  /*padding: 0 30px;*/
  margin-bottom: 10px;
  overflow: hidden;
  -moz-transition: all .50s ease-in-out;
  -o-transition: all .50s ease-in-out;
  -webkit-transition: all .50s ease-in-out;
  transition: all .50s ease-in-out;
}
.analisys-internal {
  height: 0;
  position: absolute;
  padding: 0 50px;
  left: -25px;
  width: calc(100% + 50px);
  background-color: #333;
  overflow: hidden;
  -moz-transition: all .50s ease-in-out;
  -o-transition: all .50s ease-in-out;
  -webkit-transition: all .50s ease-in-out;
  transition: all .50s ease-in-out;
}
.analisys.visible > .analisys-internal {
  height: 200px;
  padding: 10px 50px;
}
.analisys.visible {
  height: 200px;
  /*padding: 10px 30px;*/
}

.analisys .form-control {
  width: 100px;
}

.analisys.visible {
  display: block;
}

.analisys dd {
  color: yellowgreen;
}

.analisys-results > p {
  color: #777;
  font-size: 11px;
}

.details-analisys{
  position: relative;
  top: 50px;
  width: 62px;
  text-align: right;
  -moz-transition: all .50s ease-in-out;
  -o-transition: all .50s ease-in-out;
  -webkit-transition: all .50s ease-in-out;
  transition: all .50s ease-in-out;
}

.details-analisys.opened {
  width: 590px;
}

.fa-inaz-stat {
  position: absolute;
  left: 50px;
  bottom: 20px;
}

.page-debug {
  margin: 0 50px;
}
.page-debug > i {
  color: #aaa;
  margin: 0 20px 10px;
}
.page-debug > pre {
  font-size: 10px;
  padding-right: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page-debug > pre:not(.expanded) {
  max-height: 38px;
}
.page-debug > pre.expanded {
  white-space: pre-wrap;
  background-color: bisque;
}
.page-debug-item {
  position: relative;
}
.page-debug-item .debug-item-button {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.4em;
  cursor: pointer;
}
.page-debug-item .debug-item-button:hover {
  color: orange;
}
.page-debug-item .debug-item-button.active {
  color: yellowgreen;
}
.page-debug-item .debug-item-button.btn-2 {
  right: 30px;
}

