<div class="page-main-mobile quando-mobile-container visible">
  <!-- HEADER -->
  <div class="header top">
    <h3>{{product.name}}</h3>
    <span class="version">beta {{product ? product.version : '...'}}</span>
    <span>Oggi è {{getDate()}}</span>
    <i class="fa fa-2x fa-trash aslink" ng-click="clear()"></i>
    <i class="fa fa-2x fa-bars aslink" ng-click="toggleOptions()" ng-class="{'checked':showopt}"></i>
  </div>
  <!-- OPTIONS -->
  <div class="options" ng-style="optstyle">
    <div class="option-values">
      <p ng-class="{'checked':context.options.checkmine}"><i class="fa fa-fw aslink" ng-class="{'fa-toggle-off':!context.options.checkmine, 'fa-toggle-on':context.options.checkmine}" ng-click="toggleOptionValue('checkmine')"></i> Verifica ingresso minimo</p>
      <p ng-class="{'checked':context.options.checknine}"><i class="fa fa-fw aslink" ng-class="{'fa-toggle-off':!context.options.checknine, 'fa-toggle-on':context.options.checknine}" ng-click="toggleOptionValue('checknine')"></i> Verifica sforamento dell'ora d'ingresso</p>
      <p ng-class="{'checked':context.options.checklunch}"><i class="fa fa-fw aslink" ng-class="{'fa-toggle-off':!context.options.checklunch, 'fa-toggle-on':context.options.checklunch}" ng-click="toggleOptionValue('checklunch')"></i> Verifica pausa pranzo</p>
      <p ng-class="{'checked':context.options.milkstart}"><i class="fa fa-fw aslink" ng-class="{'fa-toggle-off':!context.options.milkstart, 'fa-toggle-on':context.options.milkstart}" ng-click="toggleOptionValue('milkstart')"></i> Munge all'avvio</p>
      <p ng-class="{'checked':context.options.canautomilk}"><i class="fa fa-fw aslink" ng-class="{'fa-toggle-off':!context.options.canautomilk, 'fa-toggle-on':context.options.canautomilk}" ng-click="toggleOptionValue('canautomilk')"></i> Offre la possibilità di attivare l'automungitura</p>
      <p ng-class="{'checked':context.options.debug}"><i class="fa fa-fw aslink" ng-class="{'fa-toggle-off':!context.options.debug, 'fa-toggle-on':context.options.debug}" ng-click="toggleOptionValue('debug')"></i> Attiva la modalità debug</p>
      <div class="options-commands">
        <i class="fa fa-fw fa-download" ng-class="{'disabled':!context.user.name || !context.user.password}" ng-click="downloadHistory()"></i>
        <i class="fa fa-fw fa-cloud-upload" ng-class="{'disabled':!context.user.name || !context.user.password}" ng-click="uploadHistory()"></i>
      </div>
    </div>
  </div>
  <!-- MAIN PANEL -->
  <form class="form-horizontal main-panel" id="loginform" onsubmit="angular.element(this).scope().handleSubmit(this)">
    <div class="form-group">
      <label class="col-xs-6 control-label">Ore da fare / Permesso</label>
      <div class="col-xs-6">
        <input class="form-control work-hour" type="text" ng-model="context.o" ng-change="recalc()"
               title="Qui metti le ore che lavori"> /
        <input class="form-control work-hour permessi" type="text" ng-model="context.p" ng-change="recalc()"
               title="Qui metti le ore di permesso">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-6 control-label">Entrata / Uscita</label>
      <div class="col-xs-6">
        <tempi-item ng-repeat="i in context.items" ng-model="i" ng-change="recalc()"></tempi-item>
      </div>
    </div>
    <div class="form-group totals">
      <label class="col-xs-6 control-label">Uscita prevista alle:</label>
      <div class="col-xs-6">
        <div class="form-control result transition no-outline" tabIndex="-1" ng-class="{'alarmed':alarmed}" ng-click="stopAlarm()">{{context.exit}}</div>
        <progress-clock ng-show="progress && progress.value && context.exitm" ng-model="progress" title="mancano {{progress.elapsed}}"></progress-clock>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-6 control-label inaz-commands">
        <span ng-hide="context.user.name && context.user.password">Credenziali INAZ:</span>
        <i class="fa fa-3x inaz-command" ng-class="{'fa-toggle-on':context.user.auto,'fa-toggle-off':!context.user.auto}"
           ng-show="context.user.name && context.user.password && context.options.canautomilk" ng-click="toggleAutoInaz()"
           title="Se lo accendi allinea automaticamente i dati con quelli del portale inaz (ogni 30sec)"></i>
        <i class="fa fa-3x fa-cloud-download inaz-command" ng-click="inaz()"
           ng-class="{'disabled':!context.user.name || !context.user.password || context.user.auto}"
           ng-show="context.user.name && context.user.password && !milking"
           title="Allinea manualmente con i dati del portale inaz"></i>
        <i class="fa fa-3x fa-cog fa-spin" ng-show="milking"></i>
      </label>
      <div class="col-xs-6">
        <input class="form-control" type="text" ng-model="context.user.name" placeholder="name" title="Nome utente per il portale inaz"> /
        <input id="password" class="form-control" type="password" ng-model="context.user.password" placeholder="pswrd" title="Password per il portale inaz" autocomplete="false">
        <i class="fa fa-lock aslink" ng-class="{'checked':context.options.lockuser}" ng-click="toggleLockUser()"></i>
      </div>
    </div>
  </form>
  <!-- INAZ STAT -->
  <div class="inaz-stat" ng-class="{'visible':context.stat.show}">
    <div class="inaz-stat-data">
      <div ng-show="!context.stat.data || milking">Nessun dato</div>
      <div ng-show="context.stat.data && !milking" ng-repeat="d in context.stat.data">{{d.title}}: <span class="value">{{d.value}}</span></div>
    </div>
  </div>
  <!-- BEDGIATURE -->
  <div class="page-inaz quando-mobile-container" ng-class="{'visible':context.inaz.show,'large':context.inaz.analisys.show}">
    <div class="header">
      <span class="header-title">Storico</span>
      <i class="fa fa-2x fa-refresh aslink" ng-click="reloadInaz()"></i>
      <i class="fa fa-2x fa-calculator aslink" ng-click="analisys()" ng-class="{'checked':context.inaz.analisys.show}"></i>
      <input id="history-file" type="file" class="hidden" ng-model-instant onchange="angular.element(this).scope().uploadHistoryContent(this)"/>
    </div>
    <inaz ng-model="context"></inaz>
  </div>
  <!-- RAPPORTINI -->
  <div class="page-rapportini quando-mobile-container" ng-class="{'visible':context.rap.show}">
    <div class="header">
      <span class="header-title">Rapportini</span>
      <i class="fa fa-2x fa-refresh aslink" ng-click="reloadRap()"></i>
      <i class="fa fa-2x fa-eraser aslink" ng-click="context.rap.clear()" ng-show="context.rap.selection"></i>
    </div>
    <rapportini ng-model="context"></rapportini>
  </div>
  <div class="bottom-space"></div>
  <!-- BOTTOM TOOLBAR -->
  <div class="bottom-bar">
    <span class="fa-stack fa-lg aslink" ng-click="toggleAlarms()" title="Attiva gli allarmi">
      <i class="fa fa-bullhorn fa-stack-1x"></i>
      <i class="fa fa-ban fa-stack-2x text-danger" ng-show="!context.options.alarms"></i>
    </span>
    <i class="fa fa-trophy fa-lg aslink" ng-click="toggleStat()"
       title="Statistiche inaz" ng-class="{'active':context.stat.show}"
       ng-show="context.user.name && context.user.password"></i>
    <!-- DETAILS -->
    <i class="fa fa-2x fa-calendar mobile-detail" ng-click="toggleInaz()" title="Storico Bedgiature"
       ng-if="context.user.name && context.user.password" ng-class="{'active':context.inaz.show}"></i>
    <i class="fa fa-2x fa-paw mobile-detail" ng-click="toggleRap()" title="Rapportini"
       ng-if="context.user.name && context.user.password" ng-class="{'active':context.rap.show}"></i>
  </div>
</div>
