.mobile-layout {
  padding-bottom: 100px;
  .label {
    opacity: .5;
  }
  .aslink {
    &:not(.checked) {
      color: #666;
      &:hover {
        color: #666;
      }
    }
  }
  text {
    -webkit-transition: text-shadow 1s linear;
    -moz-transition: text-shadow 1s linear;
    -ms-transition: text-shadow 1s linear;
    -o-transition: text-shadow 1s linear;
    transition: text-shadow 1s linear;
    &.alarmed {
      text-shadow:
        0 0 10px yellowgreen,
        0 0 20px yellowgreen,
        0 0 30px yellowgreen,
        0 0 40px tomato,
        0 0 70px tomato,
        0 0 80px tomato,
        0 0 100px tomato,
        0 0 150px tomato;
    }
  }
  #maintime {
    font-size: 90px;
  }
  #currenttime {
    font-size: 40px;
  }
  #worktime, #pausetime {
    font-size: 30px;
  }
  #maindesc {
    font-size: 20px;
  }
  tempi-item {
    text-align: center;
    zoom: 1.4;
    margin-bottom: 4px;
    input {
      background-color: #333;
      border: none;
      color: #aaa;
      box-shadow: none !important;
      text-align: center;
    }
    .u-alarm,
    .e-alarm {
      color: #666;
      font-size: 16px;
    }
  }
  .tempi-item {
    display: none;
  }
  .lh-2x {
    line-height: 2em;
  }
  .width-20 {
    width: 20%;
    text-align: center;
  }
  .width-30 {
    width: 30%;
    text-align: center;
  }
  .width-40 {
    width: 40%;
    text-align: center;
  }
  .width-100 {
    width: 100%;
    text-align: center;
  }
  input {
    background-color: #666;
    border: none;
    color: #ddd;
    box-shadow: none !important;
  }
  .mobile-view {
    position: relative;
    max-height: 0;
    overflow: hidden;
    background-color: #333;
    -moz-transition: max-height 1s ease-in-out;
    -o-transition: max-height 1s ease-in-out;
    -webkit-transition: max-height 1s ease-in-out;
    transition: max-height 1s ease-in-out;
    &.active {
      max-height: 1000px;
    }
  }
  .stat-view {
    margin-top: 20px;
    .stat-view-content {
      color: #999;
      padding: 20px;
      .value {
        float: right;
        color: orange;
      }
    }
  }
  .inaz-view {
    .history-item {
      &.expanded {
        background-color: #333;
      }
      .history-svg-item {
        width: 100%;
        height: 12vmin;
        .item-day {
          font-size: 1.6em;
        }
        .item-time {
          font-size: 1.2em;
        }
      }
      .history-item-details {
        padding: 0 20px 20px;
        color: #999;
        .value {
          float: right;
          color: orange;
        }
      }
      .history-item-month {
        font-size: 3em;
        color: #444;
        font-variant: all-small-caps;
        padding: 10px;
        background-color: #222;
        text-align: center;
      }
    }
  }
  .sts-view {
    > h1 {
      color: #000;
      font-variant: small-caps;
      opacity: .2;
    }
    > p {
      font-variant: small-caps;
      padding: 5px 10px;
      margin: 0;
      color: #999;
      line-height: 1.5em;
      font-weight: 100;
      &.checked {
        color: yellowgreen;
        i {
          color: yellowgreen;
        }
      }
    }
    .options-inputs {
      padding: 10px;
      input {
        width: 40%;
      }
      > i {
        font-size: 2em;
        position: absolute;
        width: 20%;
        text-align: center;
        padding-top: 2px;
      }
    }
  }
  .toolbar {
    position: fixed;
    bottom: 0;
    height: 70px;
    line-height: 60px;
    width: 100%;
    padding-top: 10px;
    z-index: 10;
    background-color: #222;
    i {
      width: 24%;
      text-align: center;
      &[disabled] {
        color: rgba(200, 200, 200, 0.03);
        pointer-events: none;
      }
    }
  }
  .toolbar-bis {
    position: fixed;
    bottom: 70px;
    width: 100%;
    padding: 10px;
    z-index: 10;
    background-color: #222;
    > * {
      width: inherit;
      width: -webkit-fill-available;
    }
    .toolbar-row {
      padding-bottom: 10px;
    }
  }
  .layout-row {
    > * {
      display: inline-block;
    }
  }
  .on-right {
    float: right;
  }
  .secondary {
    opacity: .4;
  }
  .rap-view {
    padding-bottom: 90px;
    .value {
      color: darkorange;
      font-weight: bold;
    }
    .rap-item {
      color: #aaa;
      padding: 10px 10px 10px 30px;
      border-bottom: #666 1px solid;
      zoom: .9;
      outline: none;
      box-shadow: none;
      &.samedate {
        border-color: transparent;
      }
      .index {
        position: absolute;
        left: 2px;
        font-size: .8em;
      }
      &.checked {
        background-color: yellowgreen;
        color: #111;
      }
    }
    .rap-items-summary {
      padding: 10px 0 0;
      text-align: right;
      color: #777;
      > .value {
        min-width: 40px;
        display: inline-block;
      }
      &.selection {
        > .value {
          color: yellowgreen;
        }
      }
    }
    .toolbar-row {
      &.rap-dates {
        input {
          width: 30%;
          text-align: center;
        }
      }
    }
  }
}

@mixin circle($diameter){
  width: $diameter;
  height: $diameter;
  -webkit-border-radius: $diameter/2;
  -moz-border-radius: $diameter/2;
  border-radius: $diameter/2;
}


/* pulse in SVG */
svg.pulse-svg{
  overflow: visible;
  &.active {
    .over-circle {
      visibility: visible;
    }
    .circle {
      visibility: visible;
      fill: yellow;
    }
  }
  &.over {
    position: fixed;
    top: 0;
    pointer-events: none;
  }
  .over-circle {
    visibility: hidden;
  }
  .first-circle{
    visibility: hidden;
    transform: scale(0.5);
    transform-origin: center center;
    animation: pulse-me 3s linear infinite;
  }
  .second-circle{
    @extend .first-circle;
    animation-delay: 1s;
  }
  .third-circle{
    @extend .first-circle;
    animation-delay: 2s;
  }
}
/* pulse in CSS */
.pulse-css{
  @include circle(50px);
  background: yellowgreen;
  position: relative;
  &:before,
  &:after{
    content: '';
    @include circle(50px);
    background-color: yellowgreen;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: scale(0.5);
    transform-origin: center center;
    animation: pulse-me 3s linear infinite;
  }
  &:after{
    animation-delay: 2s;
  }
}

@keyframes pulse-me{
  0%{
    transform: scale(0.5);
    opacity: 0;
  }
  50%{
    opacity: 0.1;
  }
  70%{
    opacity: 0.09;
  }
  100%{
    transform: scale(5);
    opacity: 0;
  }
}
