.mobile-layout {
  padding-bottom: 100px; }
  .mobile-layout .label {
    opacity: .5; }
  .mobile-layout .aslink:not(.checked) {
    color: #666; }
    .mobile-layout .aslink:not(.checked):hover {
      color: #666; }
  .mobile-layout text {
    -webkit-transition: text-shadow 1s linear;
    -moz-transition: text-shadow 1s linear;
    -ms-transition: text-shadow 1s linear;
    -o-transition: text-shadow 1s linear;
    transition: text-shadow 1s linear; }
    .mobile-layout text.alarmed {
      text-shadow: 0 0 10px yellowgreen, 0 0 20px yellowgreen, 0 0 30px yellowgreen, 0 0 40px tomato, 0 0 70px tomato, 0 0 80px tomato, 0 0 100px tomato, 0 0 150px tomato; }
  .mobile-layout #maintime {
    font-size: 90px; }
  .mobile-layout #currenttime {
    font-size: 40px; }
  .mobile-layout #worktime, .mobile-layout #pausetime {
    font-size: 30px; }
  .mobile-layout #maindesc {
    font-size: 20px; }
  .mobile-layout tempi-item {
    text-align: center;
    zoom: 1.4;
    margin-bottom: 4px; }
    .mobile-layout tempi-item input {
      background-color: #333;
      border: none;
      color: #aaa;
      box-shadow: none !important;
      text-align: center; }
    .mobile-layout tempi-item .u-alarm,
    .mobile-layout tempi-item .e-alarm {
      color: #666;
      font-size: 16px; }
  .mobile-layout .tempi-item {
    display: none; }
  .mobile-layout .lh-2x {
    line-height: 2em; }
  .mobile-layout .width-20 {
    width: 20%;
    text-align: center; }
  .mobile-layout .width-30 {
    width: 30%;
    text-align: center; }
  .mobile-layout .width-40 {
    width: 40%;
    text-align: center; }
  .mobile-layout .width-100 {
    width: 100%;
    text-align: center; }
  .mobile-layout input {
    background-color: #666;
    border: none;
    color: #ddd;
    box-shadow: none !important; }
  .mobile-layout .mobile-view {
    position: relative;
    max-height: 0;
    overflow: hidden;
    background-color: #333;
    -moz-transition: max-height 1s ease-in-out;
    -o-transition: max-height 1s ease-in-out;
    -webkit-transition: max-height 1s ease-in-out;
    transition: max-height 1s ease-in-out; }
    .mobile-layout .mobile-view.active {
      max-height: 1000px; }
  .mobile-layout .stat-view {
    margin-top: 20px; }
    .mobile-layout .stat-view .stat-view-content {
      color: #999;
      padding: 20px; }
      .mobile-layout .stat-view .stat-view-content .value {
        float: right;
        color: orange; }
  .mobile-layout .inaz-view .history-item.expanded {
    background-color: #333; }
  .mobile-layout .inaz-view .history-item .history-svg-item {
    width: 100%;
    height: 12vmin; }
    .mobile-layout .inaz-view .history-item .history-svg-item .item-day {
      font-size: 1.6em; }
    .mobile-layout .inaz-view .history-item .history-svg-item .item-time {
      font-size: 1.2em; }
  .mobile-layout .inaz-view .history-item .history-item-details {
    padding: 0 20px 20px;
    color: #999; }
    .mobile-layout .inaz-view .history-item .history-item-details .value {
      float: right;
      color: orange; }
  .mobile-layout .sts-view > h1 {
    color: #000;
    font-variant: small-caps;
    opacity: .2; }
  .mobile-layout .sts-view > p {
    font-variant: small-caps;
    padding: 5px 10px;
    margin: 0;
    color: #999;
    line-height: 1.5em;
    font-weight: 100; }
    .mobile-layout .sts-view > p.checked {
      color: yellowgreen; }
      .mobile-layout .sts-view > p.checked i {
        color: yellowgreen; }
  .mobile-layout .sts-view .options-inputs {
    padding: 10px; }
    .mobile-layout .sts-view .options-inputs input {
      width: 40%; }
    .mobile-layout .sts-view .options-inputs > i {
      font-size: 2em;
      position: absolute;
      width: 20%;
      text-align: center;
      padding-top: 2px; }
  .mobile-layout .toolbar {
    position: fixed;
    bottom: 0;
    height: 70px;
    line-height: 60px;
    width: 100%;
    padding-top: 10px;
    z-index: 10;
    background-color: #222; }
    .mobile-layout .toolbar i {
      width: 24%;
      text-align: center; }
      .mobile-layout .toolbar i[disabled] {
        color: rgba(200, 200, 200, 0.03);
        pointer-events: none; }
  .mobile-layout .toolbar-bis {
    position: fixed;
    bottom: 70px;
    width: 100%;
    padding: 10px;
    z-index: 10;
    background-color: #222; }
    .mobile-layout .toolbar-bis > * {
      width: inherit;
      width: -webkit-fill-available; }
    .mobile-layout .toolbar-bis .toolbar-row {
      padding-bottom: 10px; }
  .mobile-layout .layout-row > * {
    display: inline-block; }
  .mobile-layout .on-right {
    float: right; }
  .mobile-layout .secondary {
    opacity: .4; }
  .mobile-layout .rap-view {
    padding-bottom: 90px; }
    .mobile-layout .rap-view .value {
      color: darkorange;
      font-weight: bold; }
    .mobile-layout .rap-view .rap-item {
      color: #aaa;
      padding: 10px 10px 10px 30px;
      border-bottom: #666 1px solid;
      zoom: .9;
      outline: none;
      box-shadow: none; }
      .mobile-layout .rap-view .rap-item.samedate {
        border-color: transparent; }
      .mobile-layout .rap-view .rap-item .index {
        position: absolute;
        left: 2px;
        font-size: .8em; }
      .mobile-layout .rap-view .rap-item.checked {
        background-color: yellowgreen;
        color: #111; }
    .mobile-layout .rap-view .rap-items-summary {
      padding: 10px 0 0;
      text-align: right;
      color: #777; }
      .mobile-layout .rap-view .rap-items-summary > .value {
        min-width: 40px;
        display: inline-block; }
      .mobile-layout .rap-view .rap-items-summary.selection > .value {
        color: yellowgreen; }
    .mobile-layout .rap-view .toolbar-row.rap-dates input {
      width: 30%;
      text-align: center; }

/* pulse in SVG */
svg.pulse-svg {
  overflow: visible; }
  svg.pulse-svg.active .over-circle {
    visibility: visible; }
  svg.pulse-svg.active .circle {
    visibility: visible;
    fill: yellow; }
  svg.pulse-svg.over {
    position: fixed;
    top: 0;
    pointer-events: none; }
  svg.pulse-svg .over-circle {
    visibility: hidden; }
  svg.pulse-svg .first-circle, svg.pulse-svg .second-circle, svg.pulse-svg .third-circle {
    visibility: hidden;
    transform: scale(0.5);
    transform-origin: center center;
    animation: pulse-me 3s linear infinite; }
  svg.pulse-svg .second-circle {
    animation-delay: 1s; }
  svg.pulse-svg .third-circle {
    animation-delay: 2s; }

/* pulse in CSS */
.pulse-css {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: yellowgreen;
  position: relative; }
  .pulse-css:before, .pulse-css:after {
    content: '';
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: yellowgreen;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: scale(0.5);
    transform-origin: center center;
    animation: pulse-me 3s linear infinite; }
  .pulse-css:after {
    animation-delay: 2s; }

@keyframes pulse-me {
  0% {
    transform: scale(0.5);
    opacity: 0; }
  50% {
    opacity: 0.1; }
  70% {
    opacity: 0.09; }
  100% {
    transform: scale(5);
    opacity: 0; } }

/*# sourceMappingURL=mobile.css.map */
