.tag-editor {
  border: #ccc 1px solid;
  border-radius: 3px;
  position: relative;
  display: block;
  background-color: #fff;
  /*overflow: hidden;*/
}

.tag-editor > * {
  /*height: 100%;*/
}

.tag-editor > .tag {
  background-color: yellowgreen;
  color: #222;
  margin-left: 4px;
  border-radius: 2px;
  padding: 3px;
  display: inline-block;
}

.tag-editor > input {
  border: none;
  width: auto;
  display: inline-block;
}

.tag-editor > input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*.border-focus.ng-enter {*/
  /*border-color: #66afe9;*/
  /*outline: 0;*/
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);*/
  /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);*/
/*}*/


.tag-editor.focused {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
