amonalie {
  width: 100%;
  /*overflow: auto;*/
  display: block;
}

.am-header {
  margin-bottom: 10px;
}

.am-row {
  border-bottom: #555 1px solid;
  padding: 5px;
}
.am-row:hover {
  background-color: #111;
  color: darkorange;
}
.am-row > i {
  width: 100%;
  text-align: right;
}

.am-details {
  overflow: hidden;
  height: 0;
  width: 100%;
  padding: 0 10px;
  border-left: #999 2px solid;
}
.am-details.visible {
  height: auto;
  padding: 10px;
}
.am-index {
  position: absolute;
  font-size: 10px;
  color: #aaa;
  left: 2px;
}

.am-base-data {
  font-size: 12px;
  font-weight: bold;
  color: yellowgreen;
}

.am-base-data > i {
  color: #aaa;
  font-size: 10px;
  font-weight: normal;
}

.am-info {
  color: #aaa;
}
.am-info > i {
  color: #eee;
  margin: 0 10px;
}

.am-description {
  font-size: 12px;
  margin: 5px 10px;
  overflow-wrap: break-word;
}


.am-details-row {
  position: relative;
  display: block;
}

.am-detail-name {
  font-size: 10px;
  display: inline-block;
  color: #aaa;
  width: 100px;
}
.am-detail-value {
  display: inline-block;
  font-size: 12px;
}

.am-options {
  height: 0;
  padding: 0 30px;
  position: relative;
  margin-bottom: 10px;
  -moz-transition: all .50s ease-in-out;
  -o-transition: all .50s ease-in-out;
  -webkit-transition: all .50s ease-in-out;
  transition: all .50s ease-in-out;
}
.am-options.visible {
  height: 115px;
}
.am-options-values {
  height: 0;
  position: absolute;
  padding: 0 30px;
  left: -25px;
  width: calc(100% + 50px);
  background-color: #333;
  overflow: hidden;
  -moz-transition: all .50s ease-in-out;
  -o-transition: all .50s ease-in-out;
  -webkit-transition: all .50s ease-in-out;
  transition: all .50s ease-in-out;
}

.am-options.visible > .am-options-values {
  height: 115px;
  padding: 10px 30px;
}
.am-options-values > p.checked {
  color: yellowgreen;
}

.am-options-values label {
  font-weight: normal;
}
.am-options-values label.checked {
  color: yellowgreen;
}
.am-search {
  margin-bottom: 2px;
}
